## Assignment Data Science Masters (16-FEB-2023) : 
## aradhyad73@gmail.com
##

Q1. What is a database? Differentiate between SQL and NoSQL databases.

### Answer 1:

A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval, management, and manipulation of that data. Databases are essential for storing and managing vast amounts of information in various applications, from simple to complex, such as websites, financial systems, customer relationship management (CRM) systems, and more.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two broad categories of database management systems, each with its own characteristics and use cases:


### SQL Databases:

1.SQL databases are relational databases that use a structured schema to organize and store data. They are based on a table-based model, where data is stored in rows and columns.

2.SQL databases are best suited for applications with complex querying and reporting needs, transactions, and where data relationships are well-defined, such as traditional business applications.

3.Examples of SQL databases include MySQL, PostgreSQL, Oracle, SQL Server, and SQLite.


### NoSQL Databases:

1.NoSQL databases are non-relational databases that do not rely on a fixed schema. They are designed to handle unstructured or semi-structured data, making them more flexible for certain use cases.

2.NoSQL databases are typically horizontally scalable, allowing them to handle large amounts of data and high traffic loads with ease.

3.Common types of NoSQL databases include document-oriented (e.g., MongoDB), key-value stores (e.g., Redis), column-family stores (e.g., Apache Cassandra), and graph databases (e.g., Neo4j).

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.


### Answer 2 :

DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used for defining and managing the structure of a database and its objects. DDL statements are responsible for creating, altering, and deleting database objects like tables, indexes, and constraints. 

Here are explanations and examples for some common DDL statements:

### 1. CREATE:

The CREATE statement is used to create new database objects, such as tables, indexes, or views.

### 2. DROP:

The DROP statement is used to delete database objects, including tables, indexes, and views. This action permanently removes the object and all associated data.


### 3. ALTER:

The ALTER statement is used to modify the structure of an existing database object. It can be used to add, modify, or delete columns, constraints, or indexes in a table.

### 4. TRUNCATE:

The TRUNCATE statement is used to quickly delete all rows from a table, but it retains the table structure. It is faster than the DELETE statement for removing all data from a table.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example
 

### Answer 3 :

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used for interacting with and manipulating data stored in a database. DML statements are used to insert, update, retrieve, and delete data from database tables. Here are explanations and examples for some common DML statements:

### 1. INSERT:

The INSERT statement is used to add new rows of data into a database table.

### 2. UPDATE:

The UPDATE statement is used to modify existing records in a database table.


### 3. DELETE:

The DELETE statement is used to remove one or more rows from a database table.


## Example for above :

In [11]:
# Connect to the database
conn = sqlite3.connect('mydb.db')
cursor = conn.cursor()

# Remove the UNIQUE constraint from the employee_id column
cursor.execute('PRAGMA foreign_keys=off')
cursor.execute('BEGIN')
cursor.execute('CREATE TABLE employees_temp AS SELECT * FROM employees')
cursor.execute('DROP TABLE employees')
cursor.execute('ALTER TABLE employees_temp RENAME TO employees')
cursor.execute('COMMIT')
cursor.execute('PRAGMA foreign_keys=on')

# Close the connection
conn.close()

Q4. What is DQL? Explain SELECT with an example.


### Answer 4 :

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used for retrieving data from a database. The primary DQL statement is the SELECT statement, which allows you to query and retrieve specific data from one or more tables in a database. Here's an explanation of the SELECT statement with an example:

#### SELECT Statement:
The SELECT statement is used to retrieve data from a database table or tables. It allows you to specify the columns you want to retrieve and the conditions that must be met for the rows to be included in the result set.

### Syntax:

In [14]:
import sqlite3

# Connect to an SQLite database (you can replace 'mydb.db' with your database file)
conn = sqlite3.connect('mydb.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Execute the SQL SELECT statement
select_query = "SELECT first_name, last_name FROM employees WHERE hire_date > ?"
hire_date_threshold = '2023-01-01'
cursor.execute(select_query, (hire_date_threshold,))

# Fetch and print the results
result = cursor.fetchall()
for row in result:
    print("First Name:", row[0])
    print("Last Name:", row[1])

# Close the connection
conn.close()

First Name: John
Last Name: Doe

Q5. Explain Primary Key and Foreign Key.


### Answer 5:

Primary Key and Foreign Key are fundamental concepts in relational databases that define relationships between tables and ensure data integrity.

### Primary Key:

A Primary Key is a column or set of columns in a database table that uniquely identifies each row or record in that table. It ensures that there are no duplicate or null values in the key column(s).
Each table in a relational database should have a Primary Key because it provides a way to uniquely identify and access specific rows.

#### Key characteristics of a Primary Key:
Uniqueness: No two rows can have the same Primary Key value.
Uniqueness ensures data integrity and prevents data duplication.
Non-null: The Primary Key value cannot be NULL, meaning every row must have a valid and unique key value.
Example: In an "employees" table, the "employee_id" column could serve as the Primary Key.





### Foreign Key:

A Foreign Key is a column or set of columns in a table that is used to establish a link or relationship between the data in two tables.
It creates a referential integrity constraint, ensuring that the values in the Foreign Key column(s) in one table match the values in the Primary Key column(s) of another table.
Foreign Keys are used to enforce data consistency and maintain relationships between tables.

#### Key characteristics of a Foreign Key:
References a Primary Key: A Foreign Key typically references the Primary Key of another table, defining the relationship between them.
Maintains data integrity: It ensures that values in the Foreign Key column(s) of one table correspond to valid Primary Key values in another table.
Cascading actions: Foreign Keys can be configured to perform actions (e.g., CASCADE, SET NULL, SET DEFAULT) when referenced rows in the Primary Key table are updated or deleted.
Example: In a "orders" table, an "employee_id" column might serve as a Foreign Key that references the "employee_id" Primary Key in the "employees" table, establishing a relationship between orders and employees.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.


### Answer 6 :

To connect MySQL to Python, you can use the mysql-connector-python library, which allows you to interact with MySQL databases from your Python code. You'll need to install this library if you haven't already using pip install mysql-connector-python.

#### Here's a Python code example that demonstrates how to connect to MySQL and use the cursor() and execute() methods:

In [ ]:
import mysql.connector

# Establish a connection to the MySQL server
try:
    connection = mysql.connector.connect(
        host='your_host',  # Replace with your MySQL server host
        user='your_username',  # Replace with your MySQL username
        password='your_password',  # Replace with your MySQL password
        database='your_database'  # Replace with your MySQL database name
    )

    if connection.is_connected():
        print("Connected to MySQL")

        # Create a cursor object to interact with the database
        cursor = connection.cursor()

        # Execute SQL queries using the execute() method
        cursor.execute("SELECT * FROM your_table")  # Replace with your SQL query

        # Fetch and print the results
        rows = cursor.fetchall()
        for row in rows:
            print(row)

except mysql.connector.Error as err:
    print(f"Error: {err}")
finally:
    if 'connection' in locals() and connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Q7. Give the order of execution of SQL clauses in an SQL query.

### Answer 7 :

### In a standard SQL query, the clauses are typically executed in the following order:

#### 1. SELECT: 
The SELECT clause specifies which columns you want to retrieve from the database.

#### 2. FROM: 
The FROM clause indicates the table or tables from which you are retrieving data. If multiple tables are involved (e.g., in a JOIN operation), the order of execution might be influenced by the specific database system's query optimizer.

#### 3. JOIN: 
If your query involves joining multiple tables, the JOIN clause defines how the tables are connected. The database engine combines rows from different tables based on the specified join conditions.

#### 4. WHERE: 
The WHERE clause is used to filter the rows that meet specific criteria. Rows that do not satisfy the conditions specified in the WHERE clause are excluded from the result set.

#### 5. GROUP BY: 
If you want to group rows with similar values in one or more columns, the GROUP BY clause is used. It is often used in conjunction with aggregate functions like COUNT, SUM, AVG, etc., to summarize data within groups.

#### 6. HAVING: 
The HAVING clause filters the results of the GROUP BY operation. It allows you to specify conditions for aggregated values.

#### 7. ORDER BY: 
The ORDER BY clause is used to sort the result set based on one or more columns, either in ascending (ASC) or descending (DESC) order.